<main>
    <table>
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Volumen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departamento of departamentos">
                <td>
                    {{ departamento.codDepartamento }}
                </td>
                <td>
                    {{ departamento.descDepartamento }}
                </td>
                <td>
                    {{ departamento.volDepartamento }}
                </td>
            </tr>
        </tbody>
    </table>
</main>